
p.error {
    color: red;
}

div#sessionID {
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: darkgrey;
}

div#sessionID:hover {
    cursor: copy;
}

#proceedButton {
    width: 90%;
}