body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.navbar h1 {
    margin: 0;
}

.navbar h1:hover {
    cursor: pointer;
}

.buttons {
    display: block;
}

.buttons button[disabled] {
    background-color: #ccc; /* Change the background color for disabled button */
    color: #666; /* Change the text color for disabled button */
    cursor: not-allowed; /* Change the cursor to not-allowed for disabled button */
}

.buttons button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

#header {
    text-align: left;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
}

#header.error {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 150px;
}

.container .buttons button {
    width: 100%;
    margin: 0;
}

#sessionID {
    width: 200px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px;
    padding: 20px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: darkgrey;
}

#sessionID:hover {
    cursor: copy;
}
